
#container{

    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #323232;

    overflow:hidden;

    .sidebarLeft{
        width: var(--sidebarWidth);
        --profileHeight: 4rem;
        background: #242424;
        height: 100%;
        
        flex-shrink: 0;
        flex-grow: 1;

        overflow:hidden;
        display: grid;
        padding-top:10px;
        padding-bottom:5px;
        grid-template-rows: 2.5rem auto var(--profileHeight);
        gap: 20px;
        justify-items: center;
        transition: all 0.2s;

        .title{

            font-size: 1.2rem;
            width: 90%;
            height: 100%;
            box-shadow: 0 0 2px 1px rgba(255,255,255,0.5);
            display: block;
            border-radius: 10px;
            display:grid;
            place-items:center;
            color: rgba(255,255,255,0.5);
            cursor: pointer;
            padding: 10px;
        }

        ul{
            color: var(--color-text-main);
            width: 100%;
            overflow:hidden;
            overflow-y: auto;
            padding: 10px;

            li{
                list-style-type: none;
                font-size: 1rem;
                display:block;
                margin-top: 10px;
                padding:5px;
                padding-left:10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                height: calc( 2 * 1.2rem);
                background: rgba(0,0,0,0.25);
                border-radius: 5px;
                box-shadow: 0 2px 0px 2px black;
                text-transform: uppercase;
                line-height: 2rem;
                cursor:pointer;
            }
            li:active{
                translate: 0px 2px;
                box-shadow: 0px 0px 0px 1px black;
            }
        }

        .profile:active{background:rgba(0,0,0,.25);}
        .profile{
            width: calc(100% - 10px);
            height: 100%;
            padding: 10px;
            padding-right: 20px;
            cursor: pointer;

            div{
                display:grid;
                width:100%;
                height:100%;
                grid-template-columns: calc(var(--profileHeight) - 20px) auto;
                align-content: center;

                img{
                    width: 40px;
                    height:40px;
                    border-radius: 50%;
                    object-fit: cover;
                    background-position: 50% 50%;
                }

                div{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-right: 10px;
                    color: var(--color-text-main);
                }
            }
        }
    }
    main[data-state="default"]{
        grid-template-rows: var(--headerHeight) auto min-content;
    }
    main[data-state="overlay"]{
        grid-template-rows: auto min-content;
    }
    main{
        --headerHeight: 2.5rem;
        width: calc(100% - 2 * var(--sidebarWidth));
        height: 100%;
        display: grid;
        position: relative;

        flex-grow: 1;
        flex-shrink: 1;

        .mainheader{
            color: white;
            display: grid; place-items: center;
            visibility: hidden;
            grid-template-columns: minmax(min-content,var(--headerHeight)) auto minmax(min-content,var(--headerHeight));
            padding-inline: 10px;
            box-shadow: 0px 0px 1px 1px rgba(108, 108, 108, 0.3);

            .menu, .users{
                cursor: pointer;
            }
        }
        .mainheader.hide{display:none;}

        .maincontent{
            height: 100%;
            overflow-y:auto;
            overflow-x:hidden;
            padding-bottom: 10px;
        }
        .maincontent.hide{display:none}

        .mainfooter{
            padding:10px;
            padding-top: 15px;
            padding-bottom: 15px;

            .userinput{
                box-shadow: 0px 0px 5px 4px rgba(0, 0, 0,0.1);
                background: #484848;
                border-radius: 5px;
                
                /* width: 100%; */
                /* max-width: 750px; */
                /* width: min(100%, 750px); */

                margin-inline: auto;
                display: grid;
                grid-template-columns: 3rem auto 3rem;

                #widget, #send{
                    width: 3rem;
                    height: 3rem;
                    border-radius: inherit;
                    cursor: pointer;
                    height: 100%;
                    padding: 5px;
                    display:grid;place-items: center;
                    position: relative;


                    .widgetDialog{
                        background: grey;
                        border-radius: 10px;
                        border:none;
                        padding: 10px;
                        z-index:10;
                        position: absolute;
                        font-size:1rem;
                        bottom: 3rem;
                        left:50%;translate: -50%;
                        text-align:center;

                        div{
                            margin-block:5px;
                            aspect-ratio: 1 / 1;;
                        }
                    }

                }

                #textarea{
                    color: white;
                    outline:none;
                    border:none;
                    font-size:1rem;
                    line-height:1.2rem;
                    max-height:6rem;
                    overflow-y:auto;
                    padding-block: 12px;
                }
                
            }

        }
        .mainfooter.hide{display:none;}



        /* ############################ */
        /* OVERLAY CSS in seperate file */
        /* ############################ */


    }

    .sidebarRight{
        width: var(--sidebarWidth);
        background: #242424;
        height: 100%;

        flex-shrink: 0;
        flex-grow: 1;
        
        overflow:hidden;
        display: grid;
        padding-top:10px;
        grid-template-rows: 2.5rem auto;
        gap: 20px;
        justify-items: center;
        transition: all 0.2s;

        .title{

            font-size: 1.2rem;
            width: 90%;
            height: 100%;
            box-shadow: 0 0 2px 1px rgba(255,255,255,0.5);
            display: block;
            border-radius: 10px;
            display:grid;
            place-items:center;
            color: rgba(255,255,255,0.5);
            cursor: pointer;
            padding: 10px;
        }

        ul{
            color: var(--color-text-main);
            width: 100%;
            overflow:hidden;
            overflow-y: auto;
            padding: 10px;

            li{
                --bg-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_v437iy1U9932C6L6Jzi8HBjgbzH4huC6rA&usqp=CAU";

                position: relative;
                list-style-type: none;
                font-size: 1rem;
                margin-top: 5px;
                margin-bottom: 5px;
                padding:5px;
                line-height: 3rem;
                height: calc( 3 * 1.2rem);
                padding-left: calc( 3 * 1.2rem);
                background: rgba(255,255,255,0.125);
                border-radius: 5px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
            }
            li:after{
                content:"";
                background: #323232;
                width: 2.4rem;
                border-radius: 50%;
                aspect-ratio: 1 / 1;
                position: absolute;
                top: 50%; transform: translate(0, -50%);
                left: 10px;
            }
        }
    }

}

@media only screen and (max-width: 850px) {
    #container{
        --sidebarWidth: 0px;
        header{
            visibility: visible !important;
        }

        .sidebarLeft.active{
            --sidebarWidth: 65% !important;
        }
        .sidebarRight.active{
            --sidebarWidth: 65% !important;
        }

        .sidebarLeft.active ~ main::after,
        .sidebarLeft.leftSidebarActive ~ main::after{
            content:" ";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0; left: 0;
            background: rgba(0,0,0,0.5);
        }

    }
}

#chatlogs{
    /* height: 100%; */
    color: var(--color-text-main);
}

.usermessage{
    display:grid;
    grid-template-columns: 42px auto;
    gap: 6px;
    position: relative;
    width: 100%;
    padding-left:10px;
    color: inherit;
    font-size: 0.9rem;
    line-height: 1.2rem;

    div[data-col1]{
        img{
            top:0px;
            width:40px;
            height:40px;
            border-radius:50%;
            position:absolute;
            object-fit:contain;
            background:white;
            scale: 0.9;
        }
    }

    div[data-col2]{
        width: 100%;

        [data-username]{
            font-weight: 600;
        }
        [data-timestamp]{
            font-size: 0.8em;
            line-height: 1.2rem;
            color: rgba(255,255,255,0.5)
        }
        [data-msgcontent]{
            min-height: 20px;
            white-space: pre-line !important; /* preline or prewrap */
            overflow-wrap: anywhere;
            width: 100%;
        }
    }
}

.usermessage.hasHeader{
    margin-top:10px;
}

.usermessage.highlightEffect, .usermessage:hover{
    background:rgba(0,0,0,0.2);
    transition: 0.2s all;
}
.usermessage:active {
	pointer-events: none;
}