#canvasContainer{
    --toolsHeight: 3rem;
    --toolItemSize: 2.4rem;
    width: 100%;
    height: 100%;
    position: relative;
    background-image:
        linear-gradient(45deg, rgba(20,22,25,0.5) 50%, rgba(0,0,0,0.5) 50%),
        linear-gradient(-45deg, rgba(0,0,0,0.5) 50%, rgba(47,49,54,0.5) 50%);
    background-size: 30px 30px;
  
    
    #canvasTools{
        --totalTools: 1;
        position: absolute; z-index:10;
        background: grey;
        border-radius: 5px;
        box-shadow: 0px 2px 1px rgba(0,0,0,0.6);

        top:5px;right:5px;
        min-width: var(--toolsHeight);
        width: calc(calc(var(--totalTools) + 1) * var(--toolsHeight));
        max-width: calc(100% - 10px);
        height: var(--toolsHeight);

        display:grid;
        grid-template-columns: auto var(--toolsHeight);
        transition: all 0.2s;
        &.hide{
            width:0;
            z-index: 8;
        }
        .toolsArrWrapper{
            width: 100%;
            overflow-x: auto;
            .toolsArray{
                width: calc(var(--totalTools) * var(--toolsHeight));
                display: grid;
                grid-template-columns: repeat(calc(var(--totalTools)), var(--toolsHeight));
                .item{
                    width: var(--toolsHeight);
                    height: var(--toolsHeight);
                    display: grid;
                    place-items: center;
                    cursor: pointer;
                    position: relative;
                    &::before{
                        content:"";
                        background-color: rgba(0,0,0,0.1);
                        border-radius: 50%;
                        position: absolute;
                        top:50%;left:50%;
                        translate:-50% -50%;
                        width: var(--toolItemSize);
                        height: var(--toolItemSize);
                    }

                    &:active{
                        scale: 0.9;
                        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                }
            }
        }
        .toolsCloseBtn {
            width: var(--toolsHeight);
            height: var(--toolsHeight);
            display: grid;
            place-items: center;
            cursor: pointer;
        }
    }
    .toolsOpenBtn {
        position: absolute; z-index:9;
        top:5px;
        right:5px;
        width: var(--toolsHeight);
        height: var(--toolsHeight);
        display: grid;
        place-items: center;
        cursor: pointer;
        background: grey;
        border-radius: 5px;
    }

    canvas{
        width:500px;
        height:500px;
        position: absolute;
        top:50%;left:50%;
        translate:-50% -50%;
        background: #ddd;
        
        &#baseCanvas{
            border: 4px solid white;
            background: none;
        }
    }
}

#drawModal{
    z-index: 11;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    width: 90%;
    max-width: 400px;

    border: none;
    gap:5px;
    background: none;

    &::backdrop {
        background-color: rgba(0,0,0,0.5);
    }
    .contents{
        padding-block: 10px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        .colorpalette{
            height: 100%;
            aspect-ratio: 1 / 1;
            display:grid;
            gap:2px;
            grid-template-columns: repeat(16, auto);
            grid-template-rows: repeat(16, auto);
            div {
                border:black 2px solid;
                &.selected{
                    border-color: white;
                }
            }
        }
    }
    .close{
        height: 3rem;
        display: flex;
        justify-content: center;
        margin-top:10px;

        .closeDrawModal{
            background: #323232;
            width: 3rem; height: 3rem;
            border-radius: 50%;
            display: grid;
            place-items: center;
            cursor: pointer;
        }
    }
}