.overlayFrame{
    height: 100%;
    overflow: hidden;
    position: relative;

    .chatButton{
        content: " ";
        position: absolute;
        z-index:2;
        bottom: 17px;
        left: 15px;
        width: 2.4rem;
        height: 2.4rem;
        background: #646464;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.6);
        border-radius: 50%;
        display:grid;
        place-items: center;
        cursor: pointer;
    }
    .chatButton.hide{display:none;}

    .movieFrame{
        background-color: black;
        width: 100%;
        aspect-ratio: 16 / 9;
    }
}
.overlayFrame.hide{display:none;}

.overlayChatWindow{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: grid;
    background: rgba(0,0,0,0.5);
    grid-template-rows: 3rem auto min-content;

    .overlayHeader{
        height: 100%;
        font-size: 1.2rem;
        cursor: pointer;
        background: white;
        padding-inline: 10px;
        display: grid; place-items: center;
        grid-template-columns: min-content auto min-content;

        .expandOchannels, .closeOmembers{
            cursor: pointer;
        }

    }
    .overlayChatlogs{
        height: 100%;
        width: 100%;
        overflow-y:auto;
        overflow-x:hidden;
        
        /* chatlogs element shared */
    }

    .overlayFooter{
        padding:10px;
        padding-top: 15px;
        padding-left: 10px;
        padding-bottom: 15px;

        .userinput{
            border-radius: 5px;

            /* width: 100%; */
            /* max-width: 750px; */
            /* width: min(100%, 750px); */

            margin-inline: auto;
            display: grid;
            grid-template-columns: 3rem auto 3rem;

            .closechat, .send{
                width: 3rem;
                height: 3rem;
                border-radius: inherit;
                cursor: pointer;
                height: 100%;
                padding: 5px;
                display:grid;place-items: center;
                position: relative;

                .closechatWrapper{
                    width: 2.4rem;
                    height: 2.4rem;
                    position: absolute;
                    display:grid;
                    place-items: center;
                    background: #646464;
                    box-shadow: 0px 2px 2px rgba(0,0,0,0.6);
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .textarea{
                color: white;
                outline:none;
                border:none;
                font-size:1rem;
                line-height:1.2rem;
                max-height:6rem;
                overflow-y:auto;
                padding-block: 12px;
                padding-left: 5px;
                background: #484848;
                border-top-left-radius: inherit;
                border-bottom-left-radius: inherit;
            }

            .send{
                width: 3rem;
                height: 3rem;
                cursor: pointer;
                height: 100%;
                padding: 5px;
                display:grid;place-items: center;
                position: relative;
                
                background: #484848;
                border-radius: 0;
                border-top-right-radius: inherit;
                border-bottom-right-radius: inherit;
            }
        }
    }
}
.overlayChatWindow.hide{display:none;}