.overlayFrame {
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #000;
  background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0.4) 100%);
}
.overlayFrame .chatButton {
  content: " ";
  position: absolute;
  z-index: 2;
  bottom: 17px;
  left: 15px;
  width: 2.4rem;
  height: 2.4rem;
  background: #646464;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.overlayFrame .chatButton.hide {
  display: none;
}
.overlayFrame .movieFrame {
  background-color: black;
  width: 100%;
  aspect-ratio: 1.7777777778;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.3);
}
.overlayFrame.hide {
  display: none;
}
.overlayChatWindow {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 20;
  display: grid;
  background: rgba(0, 0, 0, 0.5);
  grid-template-rows: 3rem auto min-content;
 /* chatlogs element shared */
}
.overlayChatWindow .overlayHeader {
  height: 100%;
  font-size: 1.2rem;
  cursor: pointer;
  background: white;
  padding-inline: 10px;
  display: grid;
  place-items: center;
  grid-template-columns: min-content auto min-content;
}
.overlayChatWindow .overlayHeader .expandOchannels, .overlayChatWindow .overlayHeader .closeOmembers {
  cursor: pointer;
}
.overlayChatWindow .overlayChatlogs {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.overlayChatWindow .overlayFooter {
  padding: 10px;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.overlayChatWindow .overlayFooter .userinput {
  border-radius: 5px;
 /* width: 100%;
  */
 /* max-width: 750px;
  */
 /* width: min(100%, 750px);
  */
  margin-inline: auto;
  display: grid;
  grid-template-columns: 3rem auto 3rem;
}
.overlayChatWindow .overlayFooter .userinput .closechat, .overlayChatWindow .overlayFooter .userinput .send {
  width: 3rem;
  height: 3rem;
  border-radius: inherit;
  cursor: pointer;
  height: 100%;
  padding: 5px;
  display: grid;
  place-items: center;
  position: relative;
}
.overlayChatWindow .overlayFooter .userinput .closechat .closechatWrapper, .overlayChatWindow .overlayFooter .userinput .send .closechatWrapper {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  display: grid;
  place-items: center;
  background: #646464;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  cursor: pointer;
}
.overlayChatWindow .overlayFooter .userinput .textarea {
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  line-height: 1.2rem;
  max-height: 6rem;
  overflow-y: auto;
  padding-block: 12px;
  padding-left: 5px;
  background: #484848;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.overlayChatWindow .overlayFooter .userinput .send {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  height: 100%;
  padding: 5px;
  display: grid;
  place-items: center;
  position: relative;
  background: #484848;
  border-radius: 0;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.overlayChatWindow.hide {
  display: none;
}
