/* https://jsonformatter.org/scss-to-css */

:root {
  --color-bg: #FFE6F8;
  --color-text-main: rgb(215, 215, 215);
  --color-primary: #96ffea;

  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";

  --sidebarWidth: 240px;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
[hidden] {
  display: none !important;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
}




#authModal{
  z-index: 10;
  position: fixed;
  top: 100px;
  left: 50%;
  translate: -50% -10%;

  width: 90%;
  max-width: 400px;
  /* width: min(90%, 400px); */
  
  background: #484848;
  border: none;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 15px;

  h1{
    color: var(--color-text-main);
    padding-left: 1em;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text-main);
    width: 80%;
    margin-inline: auto;
    gap: 10px;
    padding-top:10px;

    label{
      font-size: .8em;
      line-height: 1.5em;
    }
    input{
      display: block;
      outline: none;
      font-size: 1rem;
      padding: .5em;
      width: 100%;
      color: white;
      background: rgba(0,0,0,0.2);
      outline:none;
      border:none;
      border-radius:5px;
    }


    button{
      font-size: 1rem;
      padding: 5px;
      margin-top:20px;
    }
  }

}
#authModal::backdrop {
  background: rgba(0,0,0,0.5);
}

#profileModal{
  z-index: 10;
  position: fixed;
  top: 70px;
  left: 50%;
  translate: -50% -10%;

  width: 90%;
  max-width: 400px;
  /* width: min(90%, 400px); */
  
  background: #484848;
  border: none;
  padding: 10px;
  padding-bottom: 25px;
  border-radius: 15px;

  h1{
    color: var(--color-text-main);
    padding-left: 1em;
    display: flex;
    justify-content: space-between;
    span.modalClose{
      cursor: pointer;
      font-size:1.2rem;
    }
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text-main);
    width: 80%;
    margin-inline: auto;
    gap: 10px;
    padding-top:10px;

    div{
      text-align: center;
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;

      img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        /* margin-inline: auto; */
        /* display:block; */
      }
      h2{
        display:inline;
      }
    }

    label{
      font-size: .8em;
      line-height: 1.5em;
    }
    input{
      display: block;
      outline: none;
      font-size: 1rem;
      padding: .5em;
      width: 100%;
      color: white;
      background: rgba(0,0,0,0.2);
      outline:none;
      border:none;
      border-radius:5px;
    }


    button{
      font-size: 1rem;
      padding: 5px;
      margin-top:10px;
    }
  }

}
#profileModal::backdrop {
  background: rgba(0,0,0,0.5);
}







/* UTILITY CLASSES */
.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#loaderContainer.active{display:grid;}
#loaderContainer{
  position:fixed;
  z-index:10;
  display:none;
  place-items:center;
  width:100%;
  height:100%;
  top:0;left:0;
  background:rgba(255,255,255,0.255);

  .loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}