@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

html {
  scroll-behavior: smooth;
}

.customOutline {
  text-shadow: 2px 2px 4px black;
}
.nodrag {
  pointer-events: none;
}

@keyframes lavalamp {
  0% {
    background-position: 20% 50%;
  }
  50% {
    background-position: 80% 50%;
  }
  100% {
    background-position: 20% 50%;
  }
}

.time-pulse {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.questionBackgroundGradient {
  background-size: 400% 400%;
  animation: lavalamp 10s ease infinite;
  background-image: linear-gradient(
    320deg,
    rgb(55 112 65 / 80%),
    rgb(233 254 109 / 70%),
    #5dbc48,
    rgb(207 241 99 / 80%),
    rgb(33 56 37 / 80%)
  );
  transition: bottom 200ms;
}

.niconne-regular {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
}

.gameIcon {
  background-image: linear-gradient(#646464, #323232);
  border: 2px solid black;
}

.customMarkerAnimation {
  position: absolute;
  top: 0px;
  animation: treeJump 500ms infinite alternate ease-in-out;
}

@keyframes treeJump {
  to {
    top: -20px;
  }
}
