<html lang="en">
  <head>
    {{> head }}
    <title>AmritaTrees | Register</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

<body class="w-screen h-full relative bg-slate-800 overflow-hidden">
    <div class="w-full h-full">
    <img style="filter:blur(1px);" class="nodrag w-full h-full object-cover" src="/assets/heroTree.jpg"  alt="trees" />
    <div class="w-full h-full absolute top-0 left-0 grid place-content-center">
        {{> registerForm }}
    </div>
    </div>
</body>
</html>