<div class="h-8 w-full">
  <blockquote class="px-2 mt-2 border-s-4 border-red-300 dark:border-red-500">
    <p class="text-xs font-medium leading-relaxed text-white">{{error}}</p>
  </blockquote>
</div>