<div
  class="w-24 h-24 md:w-48 md:h-48 lg:w-64 lg:h-64 bg-gray-300 flex flex-col items-center justify-center gap-2 rounded-2xl"
>
  <img
    class="w-6 h-6 md:w-8 md:h-8"
    src="/assets/game/tree.png"
    alt="Tree Icon"
  />
  <h2
    class="text-center text-xs md:text-xl font-bold w-11/12 bg-white"
  >{{this.name}}</h2>
  <p class="text-center text-xs md:text-md text-gray-500 w-11/12 bg-white">Lorem
    ipsum</p>
</div>